apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: online-store-route
  namespace: default
spec:
  parentRefs:
  - name: online-store-gateway
  hostnames:
  - "shop.jenkinsdevops.org"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /api
    backendRefs:
    - name: backend-service
      port: 8800
  - matches:
    - path:
        type: PathPrefix
        value: /
    backendRefs:
    - name: frontend-service
      port: 80