.container {
  padding: 10rem 0;
  max-width: 1000px;
  margin-inline: auto;
}

.container h1 {
  display: inline-block;
}

.container .form {
  margin: 2rem auto;
}

.container  .error {
  color: red;
  padding: 1rem 0;
  font-size: 1.5rem;
}
.container .form .errorInput {
  border-color: red;
}

.container .form label,
.container .form input,
.container .form textarea {
  display: inline-block;
  width: clamp(100px, 90%, 700px);
  font-size: 2rem;
  padding: 1rem 0;
}

.container .form input[type] {
  padding: 1rem;
  font-size: 1.5rem;
}

.container .form input,
.container .form textarea {
  font: inherit;
  padding: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container .form input:invalid,
.container .form textarea:invalid {
  border-color: red;
}



.container .form input:invalid:focus,
.container .form textarea:invalid:focus {
  outline-color: red;
}

.container .actions {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  width: clamp(100px, 90%, 700px);
}

.container .actions button,
.container .actions a {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 2rem;
  color: #31302e;
  border: none;
}
