.navbar {
    display: flex;
    background-color: #213343;
    color: white;
   
  
    color: white;
    position: relative;
  }
  
  .navbar .wrapper {
    width: 100%;
    padding:1.5rem 2.625rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .wrapper .menu {
    display: none;
    visibility: hidden;
    
  }
  
  .navbar .item__logout{
    display: flex;
    align-items: center;
  }
  .navbar .item__action button{

border: none;
color:white;
align-self: center;
background-color: transparent;
font-size: 2rem;
  }

  .navbar .item__auth{
    color:white;
    font-size: 1.5rem;
  }
  
  @keyframes fadeIn {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }
  
  
  .navbar .wrapper .item {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
  }
  
  .navbar .wrapper .icons {
    display: flex;
    align-items: center;
  
    display: flex;
    gap: 0.9375rem;
    color: #777;
    cursor: pointer;
  }
  
  .navbar .wrapper .icons .cartIcon {
    position: relative;
    display: block;
  }
  
  .navbar .wrapper .icons .cartIcon span {
    font-size: 0.75rem;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: #2879fe;
    color: white;
    position: absolute;
    right: -0.625rem;
    top: -0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar .wrapper .left {
    display: flex;
    align-items: center;
    gap: 1.5625rem;
  }


  
  .navbar .wrapper .center {
    font-size: 1.875rem;
    letter-spacing: 0.125rem;
   
  }
  
  .navbar .wrapper .center, .link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
  
    
  }
  
  .navbar .wrapper .right {
    display: flex;
    align-items: center;
    gap: 1.5625rem;
  }
  .link {
    color: inherit;
    text-decoration: none;
  }
  

  @media screen and (max-width: 45.5rem) {
    .navbar .wrapper .menu {
      display: block;
      visibility: visible;
    }
    .navbar .wrapper .left {
      display: none;
      visibility: hidden;
    }
    .navbar .wrapper .center{
      display: none;
      visibility: hidden;
    }
  }